
@mixin buttonColor{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(241, 109, 127, 1);
  border: 1px solid rgba(241, 109, 127, 1);
  border-radius: 2px;
  }
@mixin buttonColorHover {
  color: rgba(241, 109, 127, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  border: 1px solid rgba(241, 109, 127, 1);
}
