@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "styles/styleHeader/styleHeader.css";
@import "styles/variables/variables.css";
@import "styles/styleFooter/styleFooter.css";
@import "styles/elements/bannerBottomStyle.css";
@import "styles/elements/featureStyle.css";
@import "styles/elements/navStyle.css";
@import "styles/webpages/index.css";
@import "styles/webpages/shoppingCart.css";
@import "styles/webpages/singlePage.css";
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}


