@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "styles/styleHeader/styleHeader.css";
@import "styles/variables/variables.css";
@import "styles/styleFooter/styleFooter.css";
@import "styles/elements/bannerBottomStyle.css";
@import "styles/elements/featureStyle.css";
@import "styles/elements/navStyle.css";
@import "styles/webpages/index.css";
@import "styles/webpages/shoppingCart.css";
@import "styles/webpages/singlePage.css";
@import "styles/webpages/product.css";
@import "styles/webpages/checkout.css";
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}


<<<<<<< HEAD
}
.proceed__content {
    width: 285px;
    text-align: right;
    margin-top: 40px;


}
.proceed_subTotal {
    font-size: 11px;
    color: rgba(74, 74, 74, 1);
    text-transform: uppercase;
}
.proceed_grandTotal {
    font-size: 16px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 14px;
}
.proceed_grandTotal_span {
    color: rgba(241, 109, 127, 1);
}
.proceed_button {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(241, 109, 127, 1);
    padding: 20px 40px;
    border: 1px solid rgba(241, 109, 127, 1);
    border-radius: 2px;
    margin-top: 20px;
    text-transform: uppercase;
}
.proceed_button:hover {
    color: rgba(241, 109, 127, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(241, 109, 127, 1);
    transition: all 0.4s;
}

/* Страница singlePage */

.carousel {

}
.slide {
    display: flex;
    justify-content: center;
}
.carousel-inner {
    width: 50%;
}




.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description_top {
    text-align: center;
    width: 626px;
}
.description_collection {
    font-size: 14px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    line-height: 24px;
}
.description_h2 {
    font-size: 18px;
    font-weight: 900;
    color: rgba(77, 77, 77, 1);
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 67px;
}
.description_text {
    font-size: 14px;
    font-weight: 300;
    color: rgba(94, 94, 94, 1);
    line-height: 24px;
}
.description__content {
    margin-top: 32px;
    margin-bottom: 32px;
}
.description__content_text {
    font-size: 14px;
    font-weight: bold;
    color: rgba(185, 185, 185, 1);
    line-height: 24px;
}
.description__content_text > span {
    font-size: 14px;
    font-weight: bold;
    color: rgba(47, 47, 47, 1);
    text-align: center;
    line-height: 24px;
}
.description_price {
    font-size: 24px;
    font-weight: bold;
    color: rgba(239, 91, 112, 1);
    text-align: center;
    line-height: 24px;
    margin-bottom: 43px;
}
.description_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 538px;
}
.description_input {
    font-size: 13px;
    font-weight: 300;
    color: rgba(177, 177, 177, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    margin-bottom: 20px;
    height: 35px;
    width: 144px;
    padding-left: 15px;
}
.description__form_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    margin-top: 63px;
}
.description_form_name {
    font-size: 14px;
    font-weight: bold;
    color: rgba(47, 47, 47, 1);
    line-height: 24px;
    margin-bottom: 16px;
}
.description_button {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(241, 109, 127, 1);
    padding: 20px 40px;
    border: 1px solid rgba(241, 109, 127, 1);
    border-radius: 2px;
    text-transform: uppercase;
    width: 100%;
}
.description_button:hover {
    color: rgba(241, 109, 127, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(241, 109, 127, 1);
    transition: all 0.4s;
}
.description_button > i {
    padding-right: 15px;
}
.description_select {
    height: 35px;
    width: 144px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    font-size: 13px;
    color: rgba(188, 188, 188, 1);
    text-align: center;
    line-height: 24px;
    outline: none;
    padding-left: 15px;
}
=======
>>>>>>> branch2
